<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Device.Id" value="[Replace your device id here]" />
    <add key="Device.Password" value="[Replace your device password here]" />
    <add key="CertificatePath" value="C:\\temp\\" />
    <!-- It's used for C# Device SDK -->
    <add key="API.Uri" value="https://msfapiservice.trafficmanager.net/" />
  </appSettings>
</configuration>